{% extends "base_generic.html" %}
{% load static %}

{% block title %}
    <title>Register - WizLink</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock css %}


{% block body %}  
    <div class="container-fluid p-0">
        <div class="image_bg_container">
            <div class="form_container px-3">
                <h1><div class="h1 py-5">Create your Account</div></h1>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        
                        {% if form.errors %}
                            <div class="error-container">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger" role="alert"><b>{{ error }}</b></div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    

                        <div class="input-group my-3">
                            <span class="input-group-text"><i class="fa fa-user icon"></i></span>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingUsername" placeholder="Username" aria-label="Username" required name="username">
                                <label for="floatingUsername" class="floating_label">Username</label>
                            </div>
                        </div>

                        <div class="input-group my-3">
                            <span class="input-group-text"><i class="fa fa-envelope icon"></i></span>
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingEmail" placeholder="sample@mail.com" aria-label="Email" required name="email">
                                <label for="floatingEmail" class="floating_label">Email</label>
                            </div>
                        </div>
                        
                        <div class="input-group my-3 mb-0">
                            <span class="input-group-text"><i class="fa fa-key icon"></i></span>
                            <div class="form-floating">
                            <input type="password" name="password1" class="form-control" id="floatingPassword1" placeholder="Password" aria-label="Password" required>
                            <label for="floatingPassword1" class="floating_label">Password</label>
                            </div>    
                        </div>
                        <div id="passwordHelpBlock" class="form-text mb-3">
                            Your password must be at least 8 characters long and contain a combination of uppercase and lowercase letters, numbers, and symbols.
                        </div>

                        <div class="input-group my-3">
                            <span class="input-group-text"><i class="fa fa-key icon"></i></span>
                            <div class="form-floating">
                            <input type="password" name="password2" class="form-control" id="floatingPassword2" placeholder="Password" aria-label="Password" required>
                            <label for="floatingPassword2" class="floating_label">Confirm your password</label>
                            </div>    
                        </div>

                        <div class="input-group my-3">
                            <span class="input-group-text"><i class="fa fa-info icon"></i></span>
                            <div class="form-floating">
                                <textarea class="form-control" name="bio" placeholder="About yourself" id="floatingTextarea" style="height: 100px"></textarea>
                                <label for="floatingTextarea" class="floating_label">Bio (optional) </label>
                            </div>
                        </div>

                        {% comment %}
                        <div class="">
                            <label for="exampleDataList" class="form-label">Datalist example</label>
                            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="City, State, Country">
                            <datalist id="datalistOptions">
                                <optgroup value="india">
                                    <!-- <option value="" disabled></option> -->
                                    <option value="San Francisco">
                                        <option value="New York">
                                        </optgroup>
                                        
                                        <option value="Seattle">
                                            <option value="Los Angeles">
                                                <option value="Chicago">
                                                </datalist>
                                            </div>
                        {% endcomment %}

                        {% comment %} 
                        <div class="row g-3 my-3">
                            <div class="col-sm-7">
                              <select class="form-select" aria-label="City">
                                <option value="" disabled selected>Select City</option>
                                <option value="city1">City 1</option>
                                <option value="city2">City 2</option>
                                <option value="city3">City 3</option>
                              </select>
                            </div>
                            <div class="col-sm">
                              <select id="inputState" class="form-select" aria-placeholder="State">
                                <option value="" disabled selected>Select State</option>
                                <option value="state1">State 1</option>
                                <option value="state2">State 2</option>
                                <option value="state3">State 3</option>
                              </select>
                            </div>
                            <div class="col-sm">
                              <select class="form-select" aria-label="Country">
                                <option value="" disabled selected>Select Country</option>
                                <option value="country1">Country 1</option>
                                <option value="country2">Country 2</option>
                                <option value="country3">Country 3</option>
                              </select>
                            </div>
                        </div>
                        {% endcomment %}
                        
                        {% comment %}
                        <div class="input-group my-3">
                            <span class="input-group-text"><i class="fa fa-calendar icon"></i></span>
                            <div class="form-floating">
                                <input type="date" class="form-control" name="birth_date" id="floatingDOB" aria-label="Username" min="1900-01-01" max="{{ today|date:'Y-m-d' }}" required>
                                <label for="floatingUsername" class="floating_label">Date of Birth</label>
                            </div>
                        </div>
                        {% endcomment %}

                    </div>

                    <button type="submit" class="btn btn-primary mt-2"><b>Register</b></button>
                </form>
                <div class="signup-redirect my-5">
                    <p>Already have an account? <a href="{% url 'login' %}"><b>Login here</b></a>.</p>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="form-group">
        <!-- <label for="location">Location (Optional)</label> -->
        <div class="icon-input">
            <i class="fa fa-map-marker-alt icon"></i>
            <input type="text" id="location" name="location" placeholder="Your Location (City, State)">
        </div>
    </div> {% endcomment %}
    {% comment %} <div class="form-group">
        <div class="icon-input">
            <i class="fa fa-calendar icon" onclick="document.getElementById('birth_date').click();"></i>
            <input type="date" id="birth_date" name="birth_date" min="1900-01-01" max="{{ today|date:'Y-m-d' }}">
        </div>
    </div> {% endcomment %}

{% endblock body %}