{% extends "base_generic.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'viewer/css/homepage.css' %}">
{% endblock css %}

{% block body %}
    <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Post</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.content.id_for_label }}">Content:</label>
            {{ form.content }}
        </div>
        <div class="form-group">
            <label for="{{ form.tags.id_for_label }}">Tags:</label>
            {{ form.tags }}             
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock body %}


