body{
  color: rgb(255, 251, 245);
}

.image_bg_container{
  background-image: url('../images/login_blue.png');
  height: 100vh;
  background-size: cover;
}

.form-text{
  color: whitesmoke;
}

.floating_label{
  color:grey;
}