body{
  font-family: sans-serif;
  color: whitesmoke;
}

.image_bg_container{
  background-image: url('../images/register_pink.png');
  height: 100vh;
  background-size: cover;
}

.form-text{
  color: whitesmoke;
}

.floating_label{
  color:grey;
}